/* Loading Screen */

#loading
{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  background:#262626;
  display: block;
}
.ring
{
  position:absolute;
  bottom: 1vw;
  right: 1vw;  
  width: auto;
  font-family:sans-serif;
  font-size:50px;
  color:whitesmoke;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px whitesmoke;
}


/* Fonts */

@font-face{
    font-family: Metropolis-Bold;
    src: url('Metropolis-Bold.otf');
}

#main{
    display: none;
}

body, html{
    height: 100%;
    margin: 0;
    overflow: hidden;

    color: whitesmoke;

    font-family: 'Metropolis-Bold', sans-serif;
}

/* Video Background */

.video-container{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    z-index: -10000;
}

#video-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Options Menu */

#kebab:after {
    content: '\2807';
    font-size: 3vw;
}

#kebab{
    position: fixed;
    right: 0vw;

    display: block;
}

#options-menu{
    height: 100vw;
    width: 25vw;

    margin: 0vw;

    position: absolute;
    left: -40vw;

    z-index: 10;

    background: rgba(0,0,0,0.6);

    transition: left 1s ease;

    backdrop-filter: blur(5px);
}

#options-menu p{
    margin: 2vw;
    font-size: 1vw;
}

#bgChanger-container{
    margin: 0;
    border-bottom: 2px solid goldenrod;
}

#bgVideoChanger{
    display: flex;

    justify-content: space-evenly;

    margin-bottom: 4vw;
}

#wallpaper-sample{
    width: 10vw;
    height: 5vw;

    margin: 0;

    position: relative;
    
    text-align: center;
}

#wallpaper-sample video{
    height: 100%;
    width: 100%;
}

#wallpaper-sample p{
    margin: 0.5vw 0 0 0;
}

#newsSourcePicker{
    position: absolute;
    top: 25vw;
}

#copyright{
    position: absolute;
    left: 4vw;
}

/* The text */

/* Container of the Time, Date and News */
#bottom-text{
    display: inline-block;

    bottom: 0%;

    position: absolute;

    margin: 0vw;
    margin-bottom: 1.5vw;
    margin-left: 3vw;
}

.time-display {
    font-size: 4vw;
    margin-bottom: 0.5vw;
}

.time-display:hover, .date-display:hover{
    cursor: default;
}

.date-display{
    font-size: 2vw;
}

.news-display{
    font-size: 1.5vw;  
    margin-top: 1.5vw; 
    margin-bottom: 2vw; 
}

.news-display li{
    display: block;
    text-decoration: none;

    max-width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-top: 0.5vw;
}

.news-display a{
    text-decoration: none;

    color: whitesmoke;
}